/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
  text-decoration: none;
  font-family: Calibri, sans-serif;
}

a:hover {
  opacity: 0.8;
}

app-top-bar {
  width: 100%;
  height: 10vh;
  background-color: #4b87bd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

body {
  margin: 0px;
  font-family: Calibri, sans-serif;
}

div.ship {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #6e6e6e;
  width: 90vw;
  height: 80vh;
  left: 5vw;
  top: 15vh;
  text-align: center;
  border-radius: 1vw;
}

div.ship-name {
  color: #efefef;
  border-radius: 5px;
  background-color: #858585;
  width: 90%;
  left: 5%;
  margin: 2%;

}
.ship h2 {
  font-size: 5vh;
  margin: 0;
}

.ship h3 {
  font-size: 3vh;
  margin: 0;
  top: 10%;
}

div.ship-info {
  position: relative;
  background-color: #c0c0c0;
  border-radius: 30px;
  font-size: 3vh;
  width: 80%;
}
