/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
  text-decoration: none;
  font-family: Calibri, sans-serif;
}

a:hover {
  opacity: 0.8;
}

app-top-bar {
  width: 100vw;
  height: 10vh;
  background-color: #4b87bd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

body {
  margin: 0px;
  font-family: Calibri, sans-serif;
}
