<div id="controller-view-body">
  <div id="headline">
    Controller views:
  </div>
  <div id="controller-view-content">
    <a [routerLink]="'ships'" class="controller-link">
      <img alt="Ships" src="../../../assets/img/icons/ShipIcon.png">
       Ships
    </a>
    <a [routerLink]="'players'" class="controller-link">
      <img alt="Players" src="../../../assets/img/icons/PlayerIcon.png">
        Players
    </a>

    <a [routerLink]="'teams'"  class="controller-link">
      <img alt="Teams" src="../../../assets/img/icons/TeamIcon.png">
        Teams
    </a>
  </div>
</div>
