#log-in-body {
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(to bottom, #4b87bd, #0cddff);
}

#login {
  position: relative;
  width: 20vw;
  height: 15vw;
  left: 40vw;
  top: 25vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-id-label{
  color:white;
  font-weight: bold;
  font-size: 5rem;
  font-family: Calibri, sans-serif;
}

#player-id {
  color: var(--background);
  width: 90%;
  text-align: center;
  height: 20%;
  border-radius: 10px;
  border-width: 4px;
  border-color: #949494;
  border-style: solid;
  margin: 5%;
  font-size: 2rem;
  outline: none;
  transition: 0.3s;
}

#player-id:focus {
  border-color: var(--background);
}

#submit-player-id {
  cursor: pointer;
  width: 60%;
  height: 20%;
  border-radius: 10px;
  border-width: 0;
  font-size: 2rem;
  font-family: Calibri, sans-serif;
  color: white;
  background-color: var(--background);
}

/*  #3e5b79 #578bb0*/
#submit-player-id:hover {
  background-color: #263646;
}

#submit-player-id:active {
  background-color: #227fdc;
}


@media screen and (max-width: 500px) {
  #login {
    position: relative;
    width: 90vw;
    height: 50vh;
    left: 5vw;
    top: 15vh;
  }

  #player-id-label{
    font-size: 9vh;
  }

  #player-id {
    width: 90%;
    height: 10vh;
    font-size: 5vh;
  }

  #submit-player-id {
    width: 80%;
    height: 20%;
    font-size: 5vh;
  }

}
