<div id="give-resources-popup">
  <h1 mat-dialog-title>Give resources:</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Ship:</mat-label>
      <mat-select [(ngModel)]="selectedShip">
        <mat-option *ngFor="let ship of ships" [value]="ship.name">
          {{ship.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h2>Resources:</h2>
    <div *ngFor="let resource of data.resources | keyvalue">
      <div>
        <label><b>{{resource.key}}</b></label>
        <br>
        <label>Amount: {{resourcesToGive.get(resource.key) ?? 0}} / {{resource.value}}</label>
      </div>
      <mat-slider [disabled]="resource.value == 0"
                  thumbLabel="true"
                  [max]="resource.value"
                  step="1"
                  (change)="resourcesToGive.set(resource.key, $event.value ?? 0)">
      </mat-slider>
    </div>
    <button (click)="onSubmit()" id="popup-button" class="standard-button">Send</button>
  </div>
</div>
