table {
  position: relative;
  width: 80%;
  left: 10%;
  text-align: left;
  color: white;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

td {
  width: auto;
  max-width: 24%;
  margin: 0;
  border-bottom: 2px solid white;
  overflow: hidden;
}

th, td {
  padding: 12px 10px 4px;
}

tr {
  transition: 0.2s;
}

tbody tr:hover {
  color: var(--background);
  background-color: white;
}

.right-button {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 1.3rem;
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.2s;
}

.delete:hover {
  background-color: #9f0000;
  color: white;
}

.create:hover {
  background-color: var(--top-bar-color);
  color: white;
}

.add-player {
  border: 1px solid white;
  border-radius: 3px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.add-player:hover {
  background-color: var(--top-bar-color);
  color: white;
}

input {
  background-color: white;
  color: var(--background);
  outline: none;
  border: none;
  font-size: 1.3rem;
  width: 100%;
  padding: 12px 0 4px;
  transition: 0.2s;
}

input:focus {
  text-decoration: underline;
}

.create-player {
  background-color: white;
  color: var(--background);
}

select {
  width: 100%;
  font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
  table {
    width: 95vw;
    left: 2.5vw;
  }

  .delete {
    background-color: #9f0000;
    color: white;
  }

  .create {
    background-color: var(--top-bar-color);
    color: white;
  }
}
