table {
  position: relative;
  width: 80%;
  left: 10%;
  text-align: left;
  color: white;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

td {
  width: 25%;
  margin: 0;
  border-bottom: 2px solid white;
  overflow: hidden;
}

th, td {
  padding: 12px 10px 4px;
}

tr {
  transition: 0.3s;
}

tbody tr:hover {
  color: var(--background);
  background-color: white;
}

.right-button {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  table {
    width: 95vw;
    left: 2.5vw;
  }
}
