<div id="controller-ships-body">
  <div id="headline">Ships: </div>
  <div *ngFor="let ship of ships | async" class="controller-link">
      <a [routerLink]="ship.name">
        {{ship.name}}
      </a>
  </div>

  <div id="form-section">
    <div id="create-ship">Create Ship: </div>
    <form [formGroup]="shipConstructor" (ngSubmit)="onSubmit()">
      <div class="form-part">
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name" autocomplete="off" placeholder="Example Name">
      </div>

      <div class="form-part">
        <label for="faction">
          Faction
        </label>
        <input id="faction" type="text" formControlName="faction" autocomplete="off" placeholder="Example Faction">
      </div>

      <div class="form-part">
        <label for="maxHP">
          Max hp
        </label>
        <input id="maxHP" type="number" formControlName="maxHP" placeholder="0">
      </div>

      <div class="form-part">
        <label for="hp">
          Hp
        </label>
        <input id="hp" type="number" formControlName="hp" placeholder="0">
      </div>

      <div class="form-part">
        <label for="crewSize">
          Crew Size
        </label>
        <input id="crewSize" type="number" formControlName="crewSize" placeholder="0">
      </div>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
