<div *ngIf="activeGalaxy" id="spaceBackground" [ngStyle]="{'background-image': 'url('+imgPath+'/SpaceBackground.png)'}">
  <div *ngFor="let body of activeGalaxy" class="celestialBody" [ngStyle]="{'width': 'Calc(100%/('+activeGalaxy.length+' + 1))'}">
    <img src="{{imgPath}}/CelestialBody.png">
    <div class="information">
      <h1>{{body.type}}</h1>
      <h2>Planet Size: {{body.size}}</h2>
      <p *ngFor="let feature of body.features">
        <strong>{{feature.name}}</strong>
        <br>
        {{feature.description}}
      </p>
    </div>
  </div>
</div>
