<div id="controller-view">
  <div *ngIf="ship" class="ship">
    <div class="ship-name">
      <h2>{{ship.name}}</h2>
      <h3>{{ship.faction}}</h3>
    </div>
    <div class="ship-info">
      <p>Crew size: {{ship.crewSize}}</p>
      <p>HP: {{ship.hp}} / {{ship.maxHP}}</p>
    </div>
    <form (submit)="changeHP()">
      <label for="hp">HP Change</label>
      <input type="number" id="hp" [(ngModel)]="hpChange" [ngModelOptions]="{standalone: true}">
      <input type="submit" value="Change">
    </form>
  </div>
</div>
