#controller-view {
  width: 100%;
  height: 90vh;
  background-color: #464545;
}

#delete-ship {
  color: white;
  margin: 10px;
  font-size: 30px;
}

#hp {
  margin: 5px;
}

input, .controller-ship-button {
  border-radius: 5px;
  background-color: white;
  border-style: hidden;
  border-color: #282727;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

input:hover, .controller-ship-button:hover {
  background-color: #d3d3d3;
}

.controller-ship-button {
  margin: 10px;
}

#change-resources-popup {
  text-align: center;
}

#popup-button {
  width: 100%;
}


