#info {
  position: absolute;
  width: 90%;
  background-color: var(--grey);
  color: white;
  top: 15vh;
  left: 3%;
  border-radius: 5px;
  padding: 2%;
  font-size: 20px;
}

#role-img {
  float: right;
  background-color: white;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#role-img img {
  width: auto;
  height: auto;
  max-width: 240px;
  max-height: 240px;
}

@media screen and (max-width: 500px) {
  #role-img {
    position: relative;
    float: left;
    left: Calc((100% - 300px)/2);
  }

  h2{
    text-align: center;
  }

}

